@tailwind base;
@tailwind components;
@tailwind utilities;


_8a62ca63 {
    width: 100%;
    height: 2px;
    transition: opacity 500ms linear, transform 6s ease-out;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0, 1);
    background: #cb3837;
}